In [1]:
import pandas as pd

In [2]:
lat_longs = pd.read_csv("address_coords.csv")
lat_longs.head()

,code,name,county,city,full_address,long,lat
0,10303,Alamance-Burlington Middle/Early College,Alamance,Graham,"1247 Jimmie Kerr Road, Graham, NC 27253",-79.357556,36.066785
1,10304,Alexander Wilson Elementary,Alamance,Graham,"2518 NC 54, Graham, NC 27253",-79.346644,36.029851
2,10308,Altamahaw Ossipee Elem,Alamance,Elon,"2832 N NC 87, Elon, NC 27244",-79.510414,36.179546
3,10310,Broadview Middle,Alamance,Burlington,"2229 Broadview Drive, Burlington, NC 27217",-79.396971,36.087437
4,10311,Career Technical Education Center,Alamance,Burlington,"2550 Buckingham Road, Burlington, NC 27217",-79.384271,36.092316

In [3]:
df_schools = pd.read_csv("df_schools.csv")
df_schools.head()

,district,code,name,region,grades,title_I,percent_EDS,S_P_grade,growth_status,EOG,grad_rate
0,Alamance-Burlington Schools,010310,Broadview Middle,Piedmont-Triad,06-08,Y,55.3,F,Not Met,28.1,NaN
1,Alamance-Burlington Schools,010350,Graham Middle,Piedmont-Triad,06-08,Y,85.1,F,Not Met,30.9,NaN
2,Anson County Schools,040330,Wadesboro Elementary,Southwest,04-05,Y,71.9,F,Not Met,22,NaN
3,Anson County Schools,040311,Wadesboro Primary,Southwest,0K-03,Y,79.3,F,Exceeded,24.4,NaN
4,Avery County Schools,060701,Avery High Viking Academy,Northwest,09-09,N,60,F,Met,10.5,NaN

In [6]:
schools_df = pd.merge(lat_longs, df_schools, how="outer", on=["code", "code"])
schools_df.head(10)

,code,name_x,county,city,full_address,long,lat,district,name_y,region,grades,title_I,percent_EDS,S_P_grade,growth_status,EOG,grad_rate
0,10303,Alamance-Burlington Middle/Early College,Alamance,Graham,"1247 Jimmie Kerr Road, Graham, NC 27253",-79.357556,36.066785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10304,Alexander Wilson Elementary,Alamance,Graham,"2518 NC 54, Graham, NC 27253",-79.346644,36.029851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10308,Altamahaw Ossipee Elem,Alamance,Elon,"2832 N NC 87, Elon, NC 27244",-79.510414,36.179546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10310,Broadview Middle,Alamance,Burlington,"2229 Broadview Drive, Burlington, NC 27217",-79.396971,36.087437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10311,Career Technical Education Center,Alamance,Burlington,"2550 Buckingham Road, Burlington, NC 27217",-79.384271,36.092316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10312,"Highland Elementary, Burlington",Alamance,Burlington,"3720 Bonnar Bridge Parkway, Burlington, NC 27215",-79.517909,36.058502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10320,E M Yoder Elementary,Alamance,Mebane,"301 N Charles Street, Mebane, NC 27302",-79.275477,36.100586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10324,Eastern Alamance High,Alamance,Mebane,"4040 Mebane Rogers, Mebane, NC 27302",-79.302277,36.113549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10326,Eastlawn Elementary,Alamance,Burlington,"502 N Graham Hopedale Road, Burlington, NC 27217",-79.406652,36.101910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10328,Edwin M Holt Elementary,Alamance,Burlington,"4751 S NC 62, Burlington, NC 27215",-79.488861,36.020872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
schools_df.describe()

             long         lat
count  506.000000  506.000000
mean   -79.234109   35.581339
std      1.349833    0.532373
min    -83.371920   34.025102
25%    -80.302372   35.241532
50%    -79.007962   35.669362
75%    -78.188743   35.993816
max    -76.217128   36.527713

In [7]:
schools_df.to_csv('merge1.csv')